@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: white;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 100%;
}

.navigation-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.logo {
  margin-right: 30px;
  z-index: 2;
  height: 70px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-item {
  height: 65px;
}

.navigation-pages {
  justify-content: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  position: relative;
}

.navigation-link-active::before {
  content: "";
  position: absolute;
  background-color: #756257;
  height: 2px;
  bottom: 1px;
  left: 17px;
  right: 17px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.30);
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  fill: rgba(117, 98, 87, 0.30);
}

.navigation-user .navigation-link{
  display: block;
  padding: 19px 12px;
}

.button {
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: white;
  border: none;
  display: block;
  box-sizing: border-box;
}

.button:hover {
  background-color: #68A2CA;
}

.button:focus {
  outline: none;
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.button:active {
  border: none;
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.main-button {
  box-sizing: border-box;
  background-color: #756257;
}

.main-button:hover {
  background-color: #615048;
}

.main-button:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
  outline: none;
}

.main-button:active {
  color: rgba(255, 255, 255, 0.30);
  border: none;
}

.navigation-item-count {
  background-color:#7DB54F;
  display: none;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;

  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
}

.navigation-item .main-button {
  box-sizing: border-box;
  width: 160px;
  height: 37px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  padding: 9px 15px;
  padding-bottom: 8px;
}

.navigation-user .navigation-item:last-child {
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 19px;
}

.main-index{
  flex-grow: 1;
  margin: 0 auto;
}

.main-index-container {
  width: 1200px;
}

.welcome {
  background-image: url("../img/background/welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  position: relative;
  top: -5px;
}

.welcome::after {
  content: "";
  background-image: url("../img/background/divider.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.advantages-title {
  margin-top: 58px;
  margin-bottom: 80px;
}

.advantages-title-header {
  margin: 0 240px;
  margin-bottom: 31px;
}

.advantages-title-header, .search-title, .footer-subscribe-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title-desc {
  font-size: 22px;
  line-height: 36px;
  color: #333;
  margin: 11px 240px;
}

.advantages-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 768px repeat(2, 384px);
}

.advantages-item:first-child, .advantages-item:nth-child(2) {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item:first-child  .advantages-img  {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.advantages-item:nth-child(1) .advantages-item-desc-img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.advantages-item:nth-child(2)  .advantages-img  {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.advantages-item:nth-child(2) .advantages-item-desc-img  {
  grid-column: 3 / 4;
}

.advantages-item-desc {
  padding: 0 75px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 97px;
}

.advantages-item-desc-img {
  background-color: #83B3D3;
  padding: 97px 92px;
  padding-bottom: 0;
  color: white;
}

.advantages-item-desc .advantages-item-title {
  margin: 0 35px;
  margin-bottom: 80px;
}

.advantages-item-desc-img .advantages-item-title {
  margin: 0 22px;
  margin-bottom: 80px;
}

.advantages-item-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.inner-advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: white;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 384px;
}

.inner-advantages-item, .advantages-item-desc {
  position: relative;
}

.inner-advantages-item-desc {
  padding: 0 75px;
}

.inner-advantages-item .advantages-item-title {
  margin-top: 184px;
}

.inner-advantages-item:first-child::before {
  content: url("../img/icons/housing.svg");
  position: absolute;
  top: 89px;
  left: 50%;
  margin-left: -38px;
}

.inner-advantages-item:nth-child(2)::before {
  content: url("../img/icons/eating.svg");
  position: absolute;
  top: 91px;
  left: 50%;
  margin-left: -37px;
}

.inner-advantages-item:nth-child(3)::before {
  content: url("../img/icons/souvenir.svg");
  position: absolute;
  top: 85px;
  left: 50%;
  margin-left: -32px;
}

.advantages-text {
  color: #333;
  margin: 0;
}

.advantages-item-desc-img  .advantages-text {
  color: white;
}

.advantages-item-desc::before {
  content:"";
  position: absolute;
  top: 183px;
  width: 250px;
  left: 0;
  margin-left: 75px;

}

.advantages-item:nth-child(1) .advantages-item-desc::before {
  content:"— №1 —";
}

.advantages-item:nth-child(2) .advantages-item-desc::before {
  content:"— №2 —";
}

.advantages-item:nth-child(3) .advantages-item-desc::before {
  content:"— №3 —";
}

.advantages-item:nth-child(4) .advantages-item-desc::before {
  content:"— №4 —";
}

.advantages-item:nth-child(5) .advantages-item-desc::before {
  content:"— №5 —";
}

.inner-advantages-item:nth-child(2n-1), .advantages-item:nth-child(2n+1) {
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n) {
  background-color:rgba(131, 179, 211, 0.2);
}

.search-field {
  padding: 92px 240px;
}

.search-title {
  margin: 0;
  margin-bottom: 29px;
}

.search-text, .footer-subscribe-text  {
  font-size: 22px;
  line-height: 26px;
}

.search-text {
  color: #333;
  margin: 0;
  margin-bottom: 56px;
}

.search-field .main-button {
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  height: 60px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 15px 0;
  box-sizing: border-box;
}

.page-footer {
  width: 100%;
  margin-bottom: 0;
}

.footer-subscribe, .footer-contacts {
  width: 1200px;
  margin: 0 auto;
}

.footer-form {
  display: flex;
  justify-content: center;
}

.footer-subscribe {
  box-sizing: border-box;
  background-color: #83B3D3;
  color: white;
  background-image: url("../img/background/subscribe-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
  padding: 94px 0;
}

.footer-subscribe-title {
  margin: 0;
  margin-bottom: 29px;
}

.footer-subscribe-text {
  margin: 0 240px;
  margin-bottom: 46px;
}

.footer-subscribe-email {
  margin: 0;
}

.footer-subscribe-input {
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 0;
  box-sizing: border-box;
}

.footer-subscribe-input:hover {
  background-color: #E6E6E6;
}

.footer-subscribe-input:focus {
  background-color: #E6E6E6;
  outline: none;
  border: 3px solid #83B3D3;
}

.footer-subscribe-input-error {
  background-color: #FFF;
  border: 2px solid #FF5757;
}


.footer-subscribe-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: black;
  opacity: 0.6;
  padding-left: 22px;
}

.footer-subscribe-button {
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  width: 200px;
  height: 60px;
}

.footer-contacts {
  display: flex;
  box-sizing: border-box;
  padding: 40px 72px;
  padding-left: 62px;
}

.socials {
  list-style-type: none;
  margin: 0;
  margin-top: -2px;
  padding: 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 3px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 7px;
  border: 3px solid #FFF;
}

.socials-icon {
  fill: #83B3D3;
}

.icon:hover .socials-icon {
  fill: #68A2CA;
}

.icon:focus {
  outline: none;
  border-radius: 10px;
  border: 3px solid #83B3D3;
}

.icon:focus .socials-icon {
  fill: #68A2CA;
}

.icon:active .socials-icon{
  fill: rgba(104, 162, 202, 0.3);
}

.icon:active {
  border: 3px solid #FFF;
}

.contacts-dev-link {
  display: inline-block;
  width: 115px;
}

.contacts-phone {
  width: 720px;
  margin-right: 53px;
}

.contacts-phone-link {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

.main-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: -5px;
}

.main-catalog-filter {
  background-color:  #83B3D3;
  background-image: url("../img/background/catalog-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 408px;
  padding: 35px 72px;
  padding-bottom: 83px;
  margin: 0 auto;
  color: white;
  text-align: left;
  box-sizing: border-box;
  position: relative;
  top: -5px;
}

.breadcrumbs {
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-right: 8px;
}

.breadcrumbs-item:first-child {
  width: 21px;
  background-image: url("../img/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -4px;
}

.breadcrumbs-item::before {
  display: inline-block;
  width: 5px;
  height: 8px;
  content: "";
  background-image: url("../img/icons/nav-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.catalog-filter {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 box-sizing: border-box;
 width: 100%;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  margin-right: 67px;
  padding: 0;
}

.catalog-filter-group:nth-child(3) {
  margin-left: 99px;
  margin-right: 61px;
  width: 287px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  margin-bottom: 30px;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-list, .catalog-list-view, .product-list, .pagination {
  list-style-type: none;
  margin: 0;
}

.control-label, .filter-label, .filter-input::placeholder {
  line-height: 23px;
}

.control-label {
  text-align: right;
}

.filter-label {
  opacity: 0.3;
  position: absolute;
  right: 14px;
  top: 12px;
}

.filter-input-container {
  display: grid;
  grid-template-columns: repeat(2, calc(284px/2));
  grid-template-rows: 45px;
  margin-top: 4px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.filter-input {
  background-color: transparent;
  border: none;
}

.filter-input::placeholder {
  text-align: left;
  color: white;
  padding-left: 15px;
}

.filter-input-group {
  display: flex;
  position: relative;
}

.filter-input-group:first-child {
  border-right: 2px solid #FFFFFF;
}

.range-toggle {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
  border: none;
}

.buttons {
  width: 160px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button-accept {
  background: #83B3D3;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.button-reset {
  background-color: transparent;
  font-weight: 400;
  line-height: 23px;
  text-transform: capitalize;
  width: 160px;
  height: 23px;
}

.catalog-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  text-align: left;
  white-space: pre;
}

.catalog-list {
  width: 1200px;
  margin: 0 auto;
}

.catalog-list-header {
  display: flex;
  padding: 44px 71px;
  padding-top: 39px;
  justify-content: flex-start;
}

.catalog-list-title {
  margin: 0;
  margin-top: 6px;
}

.catalog-list-sort-container {
  display: flex;
}

.catalog-list-sort {
  display: flex;
  width: 287px;
  margin-left: 192px;
  position: relative;
}

.select {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-family: inherit;
  line-height: 23px;
  color: #333333;
  padding-left: 12px;
  padding-right: 19px;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
}

.select-arrow {
  position: absolute;
  right: 19px;
  top: 22px;
  z-index: 0;
}

.select:hover, .select:focus {
  border-color: #83B3D3;
}

.select:focus {
  outline: none;
}

.select:active {
  border-color: #E6E6E6;
  opacity: 0.3;
}

.select:active + .select-arrow {
  fill: #E6E6E6;
  opacity: 1;
}

.select-control {
  width: 287px;
  height: 48px;
}

.catalog-list-view {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  padding: 0;
  margin-left: 81px;
  flex-grow: 1;
}

.catalog-list-view-type {
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list-view-type:first-child {
  background-image: url("../img/icons/tile.svg");
}

.catalog-list-view-type:nth-child(2) {
  background-image: url("../img/icons/slideshow.svg");
}

.catalog-list-view-type:nth-child(3) {
  background-image: url("../img/icons/list.svg");
}

.button-light {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-top: 14px;
}

.button-light.view-active, .button-light:active {
  border-color: black;
}

.button-light:not(.view-active):hover {
  border-color: #83B3D3;
}

.button-light:focus {
  outline: none;
  border-color: #83B3D3;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0 72px;
  margin-top: 10px;
  margin-bottom: 34px;
  column-gap: 18px;
  row-gap: 10px;
}

.product-card{
  width: 340px;
  height: 438px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.product-link {
  text-decoration: none;
  color: black;
  text-align: left;
  display: inline-block;
  width: 100%;
}

.product-img {
  margin-bottom: 16px;
}

.product-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.product-type, .product-cost {
  margin: 0;
  margin-bottom: 16px;
  line-height: 23px;
  display: block;
  width: 133px;
  text-align: left;
}

.product-type {
  margin-right: 25px;
}

.product-card > .main-button, .favorite-button, .product-rating {
  height: 37px;
  font-size: 16px;
  border-radius: 4px;
  display: block;
  padding: 9px 0;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.product-rating {
  margin: 0;
}

.product-card > .main-button {
  width: 133px;
  margin-right: 26px;
}

.product-stars {
  margin: 0;
  margin-top: 10px;
  width: 140px;
  height: 37px;
}

.product-stars::before {
  display: inline-block;
  width: 100%;
  height: 17px;
  content: "";
  background-repeat: no-repeat;
}

.four-stars::before {
  background-image: url("../img/icons/4star.svg");
}

.three-stars::before {
  background-image: url("../img/icons/3star.svg");
}

.two-stars::before {
  background-image: url("../img/icons/2star.svg");
}

.stars-img {
  margin-right: 7px;
}

.stars-img:last-child {
  margin-right: 0;
}

.favorite-button {
  background-color: #83B3D3;
  width: 141px;
}

.favorite-button-active {
  background-color: #7DB54F;
}

.favorite-button-active:hover, .favorite-button-active:focus {
  background-color: #6C9E42;
}

.product-rating {
  text-transform: uppercase;
  width: 160px;
  background-color:#F2F2F2;
}

.catalog-list-footer {
  width: 1200px;
  margin: 0 auto;
}

.catalog-list-show-button {
  box-sizing: border-box;
  width: 1055px;
  height: 120px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px 0;
}

.show-more-button {
  background-color: #83B3D3;
  width: 620px;
  height: 60px;
  border-radius: 4px;
  margin: 0 auto;
  font-size: 20px;
}

.catalog-list-pages {
  margin-left: 72px;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  padding: 0;
}

.pagination-item {
  width: 55px;
  height: 55px;
  background: #83B3D3;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  height: 100%;
  font-size: 20px;
  line-height: 26px;
  padding-top: 14px;
}

.pagination-current {
  background: #F2F2F2;
}

.pagination-current .pagination-link{
  color: black;
}

.catalog-list-view-count {
  display: flex;
  margin-right: 72.5px;
}

.view-count-title {
  margin-top: 15px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.view-count-select {
  width: 160px;
  height: 48px;
  margin-left: 51px;
}

.catalog-footer .footer-subscribe{
  background-image: none;
  background-color: white;
  color: black;
  padding: 70px 0;
  margin-bottom: 42px;
}

.catalog-footer .footer-subscribe-text {
  color: #333;
}

.catalog-footer .footer-subscribe-title {
  margin-bottom: 47px;
}
